<section class="absolute bg-pink-100 w-fit h-screen hidden">
  <h3>New Invoice</h3>
  <form>
    <h4>Bill From</h4>
    <div>
      <label for="billfrom_address">Street Address</label>
      <input type="text" id="billfrom_address" name="billfrom_address">
    </div>
    <div>
      <div>
        <label for="billfrom_city">City</label>
        <input type="text" id="billfrom_city" name="billfrom_city">
      </div>
      <div>
        <label for="billfrom_postal">Postal</label>
        <input type="text" id="billfrom_postal" name="billfrom_postal">
      </div>
      <div>
        <label for="billfrom_country">Country</label>
        <input type="text" id="billfrom_country" name="billfrom_country">
      </div>
    </div>
    <h4>Bill To</h4>
    <div>
      <label for="billto_clientname">Client's Name</label>
      <input type="text" id="billto_clientname" name="billto_clientname">
    </div>
    <div>
      <label for="billto_clientemail">Client's Email</label>
      <input type="text" id="billto_clientemail" name="billto_clientemail">
    </div>
    <div>
      <label for="billto_address">Street Address</label>
      <input type="text" id="billto_address" name="billto_address">
    </div>
    <div>
      <div>
        <label for="billto_city">City</label>
        <input type="text" id="billto_city" name="billto_city">
      </div>
      <div>
        <label for="billto_postal">Postal</label>
        <input type="text" id="billto_postal" name="billto_postal">
      </div>
      <div>
        <label for="billto_country">Country</label>
        <input type="text" id="billto_country" name="billto_country">
      </div>
    </div>
    <div>
      <div>
        <label for="invoicedate">Invoice Date</label>
      </div>
      <div>
        <label for="paymentterms">Payment Terms</label>
      </div>
    </div>
    <div>
      <label for="descriptions">Project Description</label>
    </div>
    <h4>Item List</h4>
  </form>
</section>
